
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
       
      }
      body
      {
        background-image:url('./image.avif') ;
        background-size: cover;

      
      }
      .container{
        width: 600px;
        margin: 4px auto;
        padding: 4px;
      }
      .inputs
      {
        padding: 2rem 0 2rem 0;
        text-align: center;
        justify-content:end;
        background:oldlace;
        height: 150px;
      }
      .inputs input[type="text"]
      {
        height: 4rem;
        width: 20rem;
        background: #212121;
        font-weight: bold;
        font-size: 1rem;
        padding: 10px;
        border: none;
        background-color:khaki;
        border: 2px solid black;
        border-radius: 3px;
        margin-right: 4px;
      }
      .inputs input[type="submit"]
      {
        height: 3rem;
        width: 6rem;
        background:red;
        font-weight: bold;
        color: white;
        font-size: 1rem;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
      }
      .display{
        text-align: center;
        width: 520px;
        color: #16a864;
      }
      .wrapper
      {
        width: 30rem;
        margin: 50px;
        background-color: rgb(172,189,221);
        height: 65vh;
      
        border-radius: 2px;
      }
      .wrapper h2
      {
        padding: 50px;
        text-align: center;
        background-color:burlywood;
        color: white;
      }
      .wrapper p
      {
        margin: 20px 50px;
        margin-right: 20px;
        text-align: left;
        color:#04214c;
        font-size: 23px;
      }
      .wrapper h2 span
      {
        font-size: 26px;
        color: red;
      }
      .wrapper p span
      {
        font-size: 25px;
        color:tomato;
      } 
      
      .one{
        background-color:bisque;
        width: 150px;
        margin: 50px auto;
        padding: 10px;
      
      }
      .two
      {
        text-align: center;
        font-style: italic;
        justify-content: center;
      
      }